.articulo9 {

    width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
 
 }
 
 .t1 {
 
    font-family: monospace;
    font-size: 60px;
    text-align: center;
 }
 
 .t2 {
 
    font-family: monospace;
    font-size: 30px;
    text-align: center;
 
    padding-top: 10px;
 }
 
 .texto1 {
 
    font-family: monospace;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
 }
 
 .t3 {
 
    font-family: monospace;
    font-size: 30px;
    text-align: center;
 
    padding-top: 10px;
 }
 
 .texto2 {
 
    font-family: monospace;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
 }
 
 .t4 {
 
    font-family: monospace;
    font-size: 30px;
    text-align: center;
 
    padding-top: 10px;
 }
 
 .texto3 {
 
    font-family: monospace;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
 }
 
 .img {
 
    width: 100%;
    height: 55%;
    padding: 15px;
 
    display: flex;
    justify-content: center; 
 
 }
 